<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全国疫情分析</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src='../static/jquery-3.4.1.min.js'></script>
    <script src="../static/echarts.min.js"></script>
    <script src="../static/china.js"></script>
    <script src="../static/echarts-wordcloud.js"></script>
</head>
<body>
    <div>
        <div id="title">全国疫情实时追踪</div>
        <div id="time">time now</div>
        <div id='left1'>left1</div>
        <div id='left2'>left2</div>
        <div id='center1'>
            <div class='num'>
                <h1>12</h1>
                <h2>累计确诊</h2>
            </div>
            <div class='num'>
                <h1>12</h1>
                <h2>新增疑似</h2>
            </div>
            <div class='num'>
                <h1>12</h1>
                <h2>累计治愈</h2>
            </div>
            <div class='num'>
                <h1>12</h1>
                <h2>累计死亡</h2>
            </div>
        </div>
        <div id='center2'>center2</div>
        <div id='right1'>right1</div>
        <div id='right2'>right2</div>
        <div id='lefttop'> </div>
    </div>
    <script src='../static/controller.js'></script>
    <script src='../static/center2.js'></script>
    <script src="../static/ec_left1.js"></script>
    <script src="../static/ec_right1.js"></script>
    <script src="../static/ec_right2.js"></script>
    <script src="../static/ec_left2.js"></script>
</body>
</html>